* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top, #0011ff, #f700ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 55px;
    color: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
  }
  
  .main {
    width: 25%;
    height: 70%;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  
  .main .input {
    width: 90%;
    padding: 8px 25px;
    border: 3px solid #9e9e9e;
    outline: none;
    margin: 15px 0;
  }
  .main .input:focus {
    border: 3px solid #1ff0ff;
  }
  .btn,
  .input {
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .main .btn {
    width: 90%;
    padding: 12px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #1ff0ff;
    color: #fff;
    transition: 0.3s;
  }
  .main .code {
    margin: 10px 0;
  }
  
  .main .btn:hover {
    box-shadow: 0 10px 25px -10px #8284ff;
  }
  
  #toast {
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    padding: 10px 50px;
    background: #05ff2f;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 25px -10px #05ff2f;
    transition: 0.3s;
  
    font-size: 20px;
  }
  
  #toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }

  